.winnipeg-blue {
    background-color: #122b44;
}

.card {
    background: #f5f5f5;
}

.card-body {
    background-color: #ffffff;
}

.corner {
    border-radius: 5px;
}

.VFR {
    background-color: green;
}

.IFR {
    background-color: red;
}

.MVFR {
    background-color: lightskyblue;
}

.LIFR {
    background-color: lightpink;
}
